{erl_opts, [debug_info]}.
{deps, [
    {erl_tcp, {git, "https://github.com/vsoft237/erl-tcp.git"}},
    {erl_db, {git, "https://github.com/vsoft237/erl-db.git"}},
    {erl_utility, {git, "https://github.com/vsoft237/erl-utility.git"}}
]}.

{relx, [
	{release, {erl_frame, "0.1.0"},[
        main,
        sasl,
        erl_tcp,
        erl_db
    ]},

	{sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
