[
	{tcp, [
		{ports, [
 			{port1, [
				{port, 30001},
 				{type, normal}
 			]},
 			{port2, [
				{port, 30002},
 				{type, web}
 			]}
 		]}
	]},

    {db, [
        {pools, [
            {pool1, [
                {name, {local, mysql}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 20}
            ], [
                {host, "localhost"},
                {port, 3306},
                {user, "root"},
                {password, "12345678"},
                {database, "eos"}
            ]}
        ]}
    ]}
	
].
